@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,800;1,500;1,800&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    display : grid;
    grid-template-columns: 1fr 1fr;
    padding : 1%;
}

.wrapper_rank {
    font-size: 30px;
    padding : 5%;
    border-right : solid gray 1px;
}

.wrapper_hashtag {
    font-size: 30px;
    padding : 5%;
}

.rank{
    width: inherit;
    margin: 2%;
}

.rank_tr{
    margin : 20px;
}

.rank_no{
    font-size : 25px;
    text-align: center;
    padding : 5px;
}

.product_img {
    height : 150px;
    text-align: center;
    padding : 5px;
}

.product_img img {
    height : 150px;
    width : auto;
}

.product_info {
    padding: 5px;
}

.product_name {
    font-size: 30px;
    padding : 5px;
}

.product_detail{
    font-size: 15px;
    padding : 5px;
}

.hashtag{
    margin : 2%;
    display: inline-block;
    text-align: center;
}

.hashtag a {
    display: inline-block;
    font-size : 20px;
    color : black;
    padding : 10px;
    margin : 2%;
    border: solid 2px #afadd2;
    border-radius: 10px;
}