/*전체 크기*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,800;1,500;1,800&display=swap');

/*전체 크기*/
body {
    padding : 2px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    margin-top: 5em;
}

.container {
    width : 100%;
    min-height: 80vh;
}

.wrapper {
  width: 390px;
  margin-left:auto;
  margin-right: auto;
}

/*상태1. 로그인 창 */
.login-form {
  display: none;
  color: grey;
}
/*로고*/
.logo{
  text-align: center;
  padding-bottom: 30px;
}

/*인풋- 아이디, 비밀번호*/
.wrap-input{
    display: flex;
    width:100%;
    margin-bottom: 16px;
    border-radius: 3px;
    border: 1px solid transparent;
    background-color: #e6e6e6;
}

.userinput {
    width: 80%;
    height: 40px;
    background: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    outline: none;
    border: none;
    padding: 0 5px 0 20px;
}

.alert {
  display: none;
  color: red;
  text-align: center;
  font-size: 13px;
  margin-top: auto;
  margin-bottom: auto;
}

/*로그인버튼*/
.container-loginbtn {
    display: flex;
    margin-top: 16px;
}

.loginbtn {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  width: 80%;
  background-color: grey;
  border: 1px solid transparent;
  border-radius: 3px;
  height: 40px;
}

#signupbtn{
  text-align: center;
  text-decoration: none;
  color: #5e5aa4;
  font-size: 15px;
  width:20%;
  margin-left: 5px;
  margin-top: auto;
  margin-bottom: auto;
}
#googlelogin {
  width: 100%;
  background-color: #afadd2;
  margin-top: 20px;
  margin-bottom: 50px;
}


/*상태2. 게임목록 */
.game-list {
  display: none;
}
.container-list {
  border: 1px solid;
  border-color: grey;
  border-radius: 3px;
  min-height: 70vh;

}
.header {
  margin-top: 40px;
  margin-bottom: 50px;
  text-align: center;
}
.list {
  width: 80%;
  margin-left: 40px;
  margin-right:40px;
}

.game {
  border-bottom: solid 0.5px;
  border-bottom-color: grey;
  padding-left: 10px;
  padding-bottom:10px;
  margin-bottom: 30px;
}
.game a{
    text-decoration: none;
    color: black;
}

.newgame a{
   font-style: italic;
   color: gray;
}

.game:hover > a{
  border-radius: 3px;
  background-color: #afadd2;
  color: white;
}
