/*전체 크기*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,800;1,500;1,800&display=swap');

body {
    padding : 2px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    margin-top: 5em;
    margin-bottom: 5em;
}
.container {
    width : 100%;
    min-height: 100vh;
}

.wrapper {
  width: 390px;
  margin-left:auto;
  margin-right: auto;
}

.form {
  border: 1px solid;
  border-color: grey;
  border-radius: 3px;
  min-height: 70vh;
}

.container-form {
  width: 80%;
  margin-left:auto;
  margin-right: auto;
}

.header {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

#notice {
  font-weight: lighter;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 15px;
}

/*인풋- 게임이름, 초대*/
.wrap-input{
    width:100%;
    margin-bottom: 10px;
}

.wrap-input .ids {
  background-color: #e6e6e6;
}

#gamename {
    width: 90%;
    height: 40px;
    background: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    outline: none;
    border: none;
    padding: 0 5px 0 5px;
    border-bottom: solid 0.5px;
    border-bottom-color: grey;
    margin-top: 10px;
    margin-bottom: 15px;
}
#gamedate {
  margin-bottom: 15px;

}

#userids {
    resize:none;
    width:95%;
    height: 100px;
    background: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: #e6e6e6;
    margin-bottom: 10px;
}

.startbtn {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  width: 100%;
  background-color: #afadd2;
  border: 1px solid transparent;
  border-radius: 3px;
  height: 40px;
  margin-bottom: 40px;
}
