@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');} 
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');} 
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');} 
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');} 
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');} 
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');}

/*전체 크기*/
body {
    padding : 2;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0 auto;
    margin-top: 5em;
    zoom: 80%;
}

/*위쪽 바*/
.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100px minmax(800px, auto) 150px;
    grid-gap: 3em 20px;
    justify-content: center;
    width : 80em;
    margin: 0 auto;
    font-family: 'Noto Sans KR', sans-serif;
}

.item:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}

.item:nth-child(2) {
    grid-column: 2 / span 3;
    grid-row: 1;
}

.item:nth-child(3) {
    grid-column: 5;
    grid-row: 1;
}

.item:nth-child(4) {
    grid-column: 1;
    grid-row: 2;
    border-right: dashed #e9847b 3px;
    padding: 1em;
    justify-content: center;
}

.item:nth-child(5) {
    grid-column: 2 / span 4;
    grid-row: 2;
    padding : 2em;
}

.item:nth-child(6) {
    grid-column: 1 / span 5;
    grid-row: 3;
}

.footer {
    width:100%;
    height: 100px;
    bottom:0;
    padding-top: 50px;
    background: #f5c5c1;
    text-align: center;
    color: white;
    font-size: 18px;
    vertical-align: middle;
 }

.header {
    text-align: center;
    padding : 1em;
}

.logo{
    padding: 0;
}

.nav div {
    display: inline-block;
    margin : 0%;
    padding : 0%;
    height : 20px;
}

.nav .nav-link {
    color: #000;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    margin-left: 40px;
    margin-right: 3em;
}

.nav .active > .nav-link {
    width:100%;
    height:51px;
    border-bottom: .50rem solid transparent;
    border-bottom-color: #e9847b;
}

.navbtn:hover > .nav-link{
    width:100%;
    border-bottom: .50rem solid transparent;
    border-bottom-color:  #f5c5c1;
}

.info{
    text-align: right;
}

.sidebarbtn {
    width : 120px;
    height: 120px;
    margin : 10px;
    float: right;
}

/*컨텐츠*/
.under {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-auto-rows: auto auto;
   }

.sidebarbtn {
    max-width: inherit;
    height : inherit;
    border: solid #e9847b;
    color: black;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    border-radius: 5px;
    background-color: #ffffff;
    padding:5%;
}

.sidebarbtn.on {
    background-color:silver;
    color: #e9847b;
}
.sidebarbtn i {
  padding: 20%;
  font-size: 40px;
}


.detail {
    display: none;
}
.detail.on {
    display: block;
}

/* Style the tab */
.tab {
    width:auto;
    height:auto;
    overflow:hidden;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border : solid gray 1px;
    border-radius : 0 10px 0 0;
    font-size: large;
    font-weight: bold;
    width : 200px;
}

  /* Change background color of buttons on hover */
.tab button:hover {
    background:  #f5c5c1 ;
    font-style: italic;
}

#tab_on {
    background :  #e9847b;
    color: white;
}


.pad {
  margin-top:10px;
  padding: 5%;
  border: solid #f5c5c1;
  min-height: 30em;
}

.mailbox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    text-align: center;
}

.mailbox .new {
    background:none;
    border:0;
    outline:0;
    cursor:pointer;
    padding-bottom: 20px;
    font-size: 100px;
    color:  #e9847b;
}
.mailbox .old, .sent{
    background:none;
    border:0;
    outline:0;
    cursor:pointer;
    padding-bottom: 20px;
    font-size: 100px;
    color: grey;
}
.mailbox p {
    grid-column: 1 / span 4;   
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 180px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.lettercontent {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.letterdisplay {
  display: none;
}

.letterdisplay.on {
  display: block;
  font-size: 20px;
  line-height: 200%;
}

.letterdisplay {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 23px;
    padding-left: 40px;
    padding-right: 40px;
}

.writing{
    padding-bottom: 20px;
    margin-right: 10px;
  }

#txt{
    width: 80%;
    height: 400px;
    border : 2px solid  #f5c5c1;
    border-radius : 5px;
    background-color: #F6F6F6;
    font-size: 23px;
    padding: 40px;
    font-size: 20px;
    font-family: "Noto Sans KR", sans-serif;
}
#txtbtn {
    margin-left:80%;
}

  .writing input{
      margin-top: 10px;
      padding: 10px;
      border: 0;
      background-color: #f5c5c1;
      font-size: 20px;
  }
  .buttonwarp{
    display: flex;
   }

  #sendbtn, #closebtn {
      border-radius:5px;
      cursor:pointer;
      padding: 10px 20px 10px 20px;
      border: 0;
      background-color: #f5c5c1;
      font-size: 20px;
      font-family: "Noto Sans KR";
  }
  #undobtn {
      border-radius:5px;
      cursor:pointer;
      margin-right: 15px;
      padding: 10px;
      border: 0;
      background-color:#e6e6e6;
      font-size: 20px;
      font-family: "Noto Sans KR";
  }

#pop{
    display: none;
    padding: 3%;
    width: 400px;
    height: 100px;
    background-color: #ffffff;
    color:black;
    position: absolute;
    top:85%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align:center;
    border:2px solid #000;
}
