@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');} 
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');} 
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');} 
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');} 
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');} 
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');}

/*전체 크기*/
body {
  padding : 2;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 17px;
  margin: 0 auto;
  margin-top: 5em;
  zoom: 80%;
}

.container {
    width : 100%;
    min-height: 80vh;
}

.wrapper {
  width: 390px;
  margin-left:auto;
  margin-right: auto;
}

/*상태1. 로그인 창 */
.login-form {
  display: none;
  min-height: 70vh;
}

/*로고*/
.logo{
  text-align: center;
  padding-top: 20%;
  padding-bottom: 10%;
}
.logo img{
    width: 70%;

}
/*인풋- 아이디, 비밀번호*/
.wrap-input{
    display: flex;
    width:100%;
    margin-bottom: 16px;
    border-radius: 3px;
    border: 1px solid transparent;
    background-color: #e6e6e6;
}

.userinput {
    width: 80%;
    height: 40px;
    background: transparent;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
    outline: none;
    border: none;
    padding: 0 5px 0 20px;
}

.alert {
  display: none;
  color: red;
  text-align: center;
  font-size: 13px;
  margin-top: auto;
  margin-bottom: auto;
}

/*로그인버튼*/
.container-loginbtn {
    display: flex;
    margin-top: 16px;
}

.loginbtn {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  width: 80%;
  background-color: grey;
  border: 1px solid transparent;
  border-radius: 3px;
  height: 40px;
  cursor: pointer;
}

#signupbtn{
  text-align: center;
  text-decoration: none;
  color: #e9847b;
  font-size: 15px;
  width:20%;
  margin-left: 5px;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
}

#googlelogin {
  width: 100%;
  height: 50px;
  background-color: #E7E19B;
  margin-top: 10%;
  margin-bottom: 50px;
  cursor: pointer;
}


/*상태2. 게임목록 */
.game-list {
  display: none;
}
.container-list {
  border: 1px solid;
  border-color: grey;
  border-radius: 3px;
  min-height: 70vh;

}
.header {
  margin-top: 40px;
  margin-bottom: 50px;
  text-align: center;
}
.list {
  width: 80%;
  margin-left: 40px;
  margin-right:40px;
}

.game {
  border-bottom: solid 0.5px;
  border-bottom-color: grey;
  padding-left: 10px;
  padding-bottom:10px;
  margin-bottom: 30px;
}
.game a{
    text-decoration: none;
    color: black;
}

.newgame a{
   font-style: italic;
   color: gray;
}

.game:hover > a{
  border-radius: 3px;
  background-color: #E7E19B;
  color: white;
}
